In [2]:
#Data Cleaning for campusSpending
#Nicole Lubaczewska
#November 26

In [8]:
import pandas as pd

path = '/Users/nicolelubaczewska/Downloads/ba222Project_rawData_campusSpending_11.26.2022.csv'

rawData = pd.read_csv(path)

rawData

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q10_19,Q10_20,Q11,Q12,Q12_7_TEXT,Q13,Q16,Q14,Q15,Q18
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Which place on campus do you spend most cash/p...,Which place on campus do you spend most cash/p...,How many meals on average per week do you eat ...,How long does it typically take you to travel ...,How long does it typically take you to travel ...,What is your age?,Do you live on-campus or off-campus?,What is your gender?,"If you are a student, are you international?",What is your status at BU?
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID20"",""choiceId"":""19""}","{""ImportId"":""QID20"",""choiceId"":""20""}","{""ImportId"":""QID24_TEXT""}","{""ImportId"":""QID22""}","{""ImportId"":""QID22_7_TEXT""}","{""ImportId"":""QID2_TEXT""}","{""ImportId"":""QID5""}","{""ImportId"":""QID3""}","{""ImportId"":""QID4""}","{""ImportId"":""QID25""}"
2,2022-11-07 11:13:47,2022-11-07 11:14:04,Survey Preview,NaN,100,17,True,2022-11-07 11:14:05,R_1rOX6tEtag6UlQY,NaN,...,NaN,NaN,NaN,NaN,NaN,-99,-99,-99,-99,NaN
3,2022-11-11 12:49:42,2022-11-11 12:50:02,Survey Preview,NaN,100,20,True,2022-11-11 12:50:03,R_3qJV3vXkgg0o7y6,NaN,...,-99,NaN,-99,-99,-99,-99,-99,-99,-99,-99
4,2022-11-13 11:04:37,2022-11-13 11:04:50,Survey Preview,NaN,100,13,True,2022-11-13 11:04:51,R_1K1Mk6CHzIX65Rh,NaN,...,-99,NaN,-99,-99,-99,-99,-99,-99,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,2022-11-18 10:46:55,2022-11-18 10:49:17,IP Address,128.197.29.242,71,142,False,2022-11-25 10:49:19,R_1q3rEoS9VcdCT97,NaN,...,0,0,3,15,-99,NaN,NaN,NaN,NaN,NaN
94,2022-11-18 11:55:59,2022-11-18 11:56:10,IP Address,128.197.29.236,6,10,False,2022-11-25 11:56:14,R_2VlodBBBW5v71WZ,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2022-11-18 11:58:19,2022-11-18 11:58:22,IP Address,128.197.29.230,6,3,False,2022-11-25 11:58:23,R_1qWj9M8BFIBWfKY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2022-11-18 12:01:30,2022-11-18 12:01:33,IP Address,128.197.29.226,6,2,False,2022-11-25 12:01:37,R_3nwwcbXtrxxg2Rg,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2022-11-18 12:13:35,2022-11-18 12:13:39,IP Address,128.197.29.237,6,4,False,2022-11-25 12:13:42,R_1fkleg9c3M9zcUq,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
colHeaders = rawData.head(2)

In [10]:
cleanData = rawData.drop([0,1])
cleanData

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q10_19,Q10_20,Q11,Q12,Q12_7_TEXT,Q13,Q16,Q14,Q15,Q18
2,2022-11-07 11:13:47,2022-11-07 11:14:04,Survey Preview,NaN,100,17,True,2022-11-07 11:14:05,R_1rOX6tEtag6UlQY,NaN,...,NaN,NaN,NaN,NaN,NaN,-99,-99,-99,-99,NaN
3,2022-11-11 12:49:42,2022-11-11 12:50:02,Survey Preview,NaN,100,20,True,2022-11-11 12:50:03,R_3qJV3vXkgg0o7y6,NaN,...,-99,NaN,-99,-99,-99,-99,-99,-99,-99,-99
4,2022-11-13 11:04:37,2022-11-13 11:04:50,Survey Preview,NaN,100,13,True,2022-11-13 11:04:51,R_1K1Mk6CHzIX65Rh,NaN,...,-99,NaN,-99,-99,-99,-99,-99,-99,-99,-99
5,2022-11-13 11:07:37,2022-11-13 11:07:49,Survey Preview,NaN,100,11,True,2022-11-13 11:07:49,R_2zACOKqDTAFA6zL,NaN,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
6,2022-11-13 11:08:54,2022-11-13 11:09:05,IP Address,128.197.29.241,100,11,True,2022-11-13 11:09:06,R_ALPK7hZOaGsTdBf,NaN,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,2022-11-18 10:46:55,2022-11-18 10:49:17,IP Address,128.197.29.242,71,142,False,2022-11-25 10:49:19,R_1q3rEoS9VcdCT97,NaN,...,0,0,3,15,-99,NaN,NaN,NaN,NaN,NaN
94,2022-11-18 11:55:59,2022-11-18 11:56:10,IP Address,128.197.29.236,6,10,False,2022-11-25 11:56:14,R_2VlodBBBW5v71WZ,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2022-11-18 11:58:19,2022-11-18 11:58:22,IP Address,128.197.29.230,6,3,False,2022-11-25 11:58:23,R_1qWj9M8BFIBWfKY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2022-11-18 12:01:30,2022-11-18 12:01:33,IP Address,128.197.29.226,6,2,False,2022-11-25 12:01:37,R_3nwwcbXtrxxg2Rg,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2022-11-18 12:13:35,2022-11-18 12:13:39,IP Address,128.197.29.237,6,4,False,2022-11-25 12:13:42,R_1fkleg9c3M9zcUq,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
cleanData = cleanData[(cleanData.DistributionChannel == 'qr') |(cleanData.DistributionChannel == 'email') | (cleanData.DistributionChannel == 'anonymous')]

In [12]:
cleanData = cleanData[~(cleanData.IPAddress.duplicated())]

In [13]:
cleanData = cleanData[cleanData.Finished == "True"]

In [14]:
cleanData

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q10_19,Q10_20,Q11,Q12,Q12_7_TEXT,Q13,Q16,Q14,Q15,Q18
6,2022-11-13 11:08:54,2022-11-13 11:09:05,IP Address,128.197.29.241,100,11,True,2022-11-13 11:09:06,R_ALPK7hZOaGsTdBf,NaN,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
7,2022-11-13 11:08:52,2022-11-13 11:09:24,IP Address,71.234.41.110,100,32,True,2022-11-13 11:09:25,R_3M97XlPGxJyfwZF,NaN,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
8,2022-11-13 11:19:56,2022-11-13 11:21:57,IP Address,128.197.29.230,100,120,True,2022-11-13 11:21:58,R_DqMGw4kcElDq8dX,NaN,...,0,0,7,0,-99,19,On-campus,Female,No,Undergraduate student
9,2022-11-13 11:21:13,2022-11-13 11:23:06,IP Address,128.197.29.227,100,113,True,2022-11-13 11:23:07,R_Rq9trTKWm3M8N7H,NaN,...,0,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
10,2022-11-13 12:09:03,2022-11-13 12:10:59,IP Address,128.197.29.248,100,116,True,2022-11-13 12:10:59,R_1IlTzBVAyW5HGFr,NaN,...,0,0,9-11,5,-99,19,On-campus,Female,No,Undergraduate student
11,2022-11-15 12:08:23,2022-11-15 12:10:27,IP Address,128.197.29.254,100,123,True,2022-11-15 12:10:27,R_1gnl3fMLNuB1DJe,NaN,...,Panda Express,0,24,15,-99,19,On-campus,Male,Yes,Undergraduate student
12,2022-11-15 12:37:46,2022-11-15 12:38:57,IP Address,174.242.80.149,100,71,True,2022-11-15 12:38:58,R_1CC8tiE8juFdoEs,NaN,...,0,0,2,15,-99,19,Off-campus,Male,No,Undergraduate student
13,2022-11-15 12:57:41,2022-11-15 13:04:06,IP Address,128.197.29.245,100,384,True,2022-11-15 13:04:06,R_3Pk9zbroFncFuIq,NaN,...,0,0,5,15,-99,19,Off-campus,Male,No,Undergraduate student
14,2022-11-15 13:26:04,2022-11-15 13:28:05,IP Address,73.119.112.56,100,120,True,2022-11-15 13:28:06,R_2cyPzCmHQSrs6sh,NaN,...,0,0,9,5,-99,21,Off-campus,Male,No,Undergraduate student
15,2022-11-15 16:42:56,2022-11-15 16:44:21,IP Address,174.242.69.213,100,84,True,2022-11-15 16:44:21,R_3rStlM0gZjQWq2V,NaN,...,0,0,8,30,-99,20,Off-campus,Male,No,Undergraduate student
16,2022-11-15 16:43:19,2022-11-15 16:46:11,IP Address,174.212.175.220,100,172,True,2022-11-15 16:46:12,R_25LX7OE1XNWvu7w,NaN,...,0,0,15,5,-99,19,On-campus,Male,No,Undergraduate student
17,2022-11-15 16:44:45,2022-11-15 16:47:19,IP Address,128.197.29.224,100,153,True,2022-11-15 16:47:19,R_3O3svABvlzWA7x8,NaN,...,0,0,15,15,-99,18,On-campus,Male,No,Undergraduate student
18,2022-11-15 16:50:49,2022-11-15 16:52:02,IP Address,73.149.2.239,100,72,True,2022-11-15 16:52:03,R_3fHpnPNzZVYdqJT,NaN,...,0,0,3,5,-99,21,Off-campus,Male,No,Undergraduate student
19,2022-11-15 16:52:05,2022-11-15 16:53:21,IP Address,128.197.29.250,100,76,True,2022-11-15 16:53:21,R_1ONeZwLDtftwTp4,NaN,...,Panda Express,0,-99,15,-99,19,On-campus,Male,No,Undergraduate student
20,2022-11-15 16:55:05,2022-11-15 16:56:30,IP Address,128.197.29.226,100,85,True,2022-11-15 16:56:31,R_Wkxfu2u4GSBu45r,NaN,...,0,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
21,2022-11-15 17:03:55,2022-11-15 17:04:49,IP Address,174.242.77.233,100,54,True,2022-11-15 17:04:50,R_2ZWDGIDZQ7sud1E,NaN,...,0,0,4,5,-99,22,Off-campus,Male,No,Undergraduate student
22,2022-11-15 17:08:42,2022-11-15 17:09:47,IP Address,128.197.29.252,100,65,True,2022-11-15 17:09:49,R_24jk9dZtg4ybxtH,NaN,...,Panda Express,0,13,15,-99,19,On-campus,Male,No,Undergraduate student
23,2022-11-15 17:30:30,2022-11-15 17:34:24,IP Address,128.197.29.229,100,233,True,2022-11-15 17:34:24,R_1ClSDpcmv0v7IDS,NaN,...,0,0,14,5,-99,19,On-campus,Male,Yes,Undergraduate student
24,2022-11-15 17:46:03,2022-11-15 17:47:26,IP Address,128.197.29.236,100,83,True,2022-11-15 17:47:27,R_3D2xfqGsK7nG4Wd,NaN,...,Panda Express,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
25,2022-11-15 17:47:43,2022-11-15 17:48:53,IP Address,128.197.29.237,100,70,True,2022-11-15 17:48:53,R_1M75pcyzLE1ZZxD,NaN,...,0,0,5,5,-99,20,On-campus,Female,No,Undergraduate student
28,2022-11-15 19:23:03,2022-11-15 19:27:11,IP Address,128.197.29.251,100,247,True,2022-11-15 19:27:12,R_2c89F8t1qsOGYRB,NaN,...,0,0,12,5,-99,19,On-campus,Male,Yes,Undergraduate student
29,2022-11-15 23:44:17,2022-11-15 23:45:32,IP Address,128.197.29.232,100,75,True,2022-11-15 23:45:33,R_3gUELbQjvSDKx0L,NaN,...,0,0,2,15,-99,19,On-campus,Male,No,Undergraduate student
30,2022-11-17 11:23:34,2022-11-17 11:26:26,IP Address,128.197.29.234,100,172,True,2022-11-17 11:26:26,R_3kcCKSKThOlqnvj,NaN,...,Panda Express,0,14,0,-99,19,On-campus,Male,Yes,Undergraduate student
32,2022-11-17 16:48:00,2022-11-17 16:53:17,IP Address,107.77.226.7,100,316,True,2022-11-17 16:53:17,R_3GrFTGaQW2UrBmp,NaN,...,0,0,1,5,-99,21,Off-campus,Male,Yes,Undergraduate student
33,2022-11-18 10:41:01,2022-11-18 10:42:14,IP Address,128.197.29.233,100,73,True,2022-11-18 10:42:15,R_tG5XCyreXTb2mvD,NaN,...,0,0,10,15,-99,19,On-campus,Male,Yes,Undergraduate student
34,2022-11-18 09:25:08,2022-11-18 10:42:20,IP Address,128.197.29.225,100,4632,True,2022-11-18 10:42:20,R_2w17rqUzN9yporU,NaN,...,Panda Express,0,2,5,-99,19,On-campus,Female,No,Undergraduate student
35,2022-11-18 10:41:05,2022-11-18 10:44:03,IP Address,128.197.29.242,100,178,True,2022-11-18 10:44:04,R_3HOheB5JDrdM1M4,NaN,...,0,0,2,15,-99,19,Off-campus,Female,Yes,Undergraduate student
36,2022-11-18 10:42:27,2022-11-18 10:44:19,IP Address,128.197.29.238,100,111,True,2022-11-18 10:44:20,R_3g5bzbZfCAenrjy,NaN,...,0,0,1,15,-99,19,Off-campus,Female,No,Undergraduate student
37,2022-11-18 10:43:53,2022-11-18 10:45:16,IP Address,128.197.29.255,100,82,True,2022-11-18 10:45:16,R_2WZqNLtrIo4uvN9,NaN,...,0,0,3,5,-99,20,Off-campus,Female,No,Undergraduate student
38,2022-11-18 10:45:06,2022-11-18 10:46:17,IP Address,128.197.29.228,100,70,True,2022-11-18 10:46:17,R_2Bxq9vl1YJk7aHc,NaN,...,0,0,3,15,-99,20,Off-campus,Female,No,Undergraduate student
41,2022-11-18 10:46:38,2022-11-18 10:47:11,IP Address,166.198.21.17,100,32,True,2022-11-18 10:47:11,R_vVkMTFBDmnB3lMR,NaN,...,0,0,-99,30,-99,-99,Off-campus,Prefer not to answer,Yes,Undergraduate student
44,2022-11-18 10:45:04,2022-11-18 10:48:47,IP Address,128.197.29.244,100,223,True,2022-11-18 10:48:47,R_3fjWCBqv6HQ19EA,NaN,...,0,0,14,15,-99,20,On-campus,Male,No,Undergraduate student
47,2022-11-18 10:47:31,2022-11-18 10:50:43,IP Address,204.8.153.54,100,191,True,2022-11-18 10:50:43,R_3hymmlbEXXW6fIJ,NaN,...,0,0,0,15,-99,23,Off-campus,Male,No,Undergraduate student
49,2022-11-18 10:50:51,2022-11-18 10:53:07,IP Address,174.196.195.181,100,135,True,2022-11-18 10:53:09,R_1Okrb834lJTFj7P,NaN,...,0,0,3,15,-99,32,Off-campus,Prefer not to answer,I'm not a student,Faculty
50,2022-11-18 10:56:26,2022-11-18 10:57:52,IP Address,107.122.189.55,100,85,True,2022-11-18 10:57:53,R_wSN501aUPcE7Q4N,NaN,...,Panda Express,0,10,30,-99,19,Off-campus,Male,No,Undergraduate student
52,2022-11-18 11:50:10,2022-11-18 11:51:20,IP Address,204.8.153.53,100,70,True,2022-11-18 11:51:21,R_2mf9RC6d4QYymuR,NaN,...,0,0,10,15,-99,-99,Off-campus,Female,No,Undergraduate student
53,2022-11-18 11:50:36,2022-11-18 11:52:53,IP Address,128.197.29.247,100,136,True,2022-11-18 11:52:53,R_1Isol8Yl8Z1CaqE,NaN,...,0,0,14,5,-99,18,On-campus,Male,No,Undergraduate student
54,2022-11-18 11:56:26,2022-11-18 11:56:56,IP Address,107.122.189.13,100,29,True,2022-11-18 11:56:56,R_2ToqvdDhArwvDwq,NaN,...,0,0,-99,5,-99,-99,Off-campus,Non-Binary,I'm not a student,Undergraduate student
56,2022-11-18 11:57:13,2022-11-18 11:58:53,IP Address,104.28.39.33,100,100,True,2022-11-18 11:58:53,R_3hz0dPSNEyFfAlB,NaN,...,0,0,5,15,-99,20,Off-campus,Female,No,Undergraduate student
59,2022-11-18 12:00:20,2022-11-18 12:02:14,IP Address,128.197.29.239,100,114,True,2022-11-18 12:02:15,R_DGhRIJmEzz1zqUN,NaN,...,0,0,-99,5,-99,22,Off-campus,Male,Yes,Undergraduate student
60,2022-11-18 12:00:41,2022-11-18 12:02:15,IP Address,128.197.29.253,100,93,True,2022-11-18 12:02:15,R_2BnA8QY61Ry9eWR,NaN,...,0,0,14,15,-99,-99,On-campus,Female,No,Undergraduate student
72,2022-11-21 08:09:07,2022-11-21 08:10:34,IP Address,96.241.125.35,100,87,True,2022-11-21 08:10:35,R_1feh2T7VvclDRnu,NaN,...,0,0,8,15,-99,19,On-campus,Female,No,Undergraduate student
74,2022-11-21 08:10:51,2022-11-21 08:16:13,IP Address,94.206.215.21,100,322,True,2022-11-21 08:16:14,R_1KlmI9W7aAtQBAL,NaN,...,0,0,14,5,-99,21,On-campus,Female,Yes,Undergraduate student
75,2022-11-21 08:37:23,2022-11-21 08:39:37,IP Address,50.199.249.182,100,133,True,2022-11-21 08:39:37,R_3ssjEoTcCIpWeXH,NaN,...,0,0,2,30,-99,18,Off-campus,Female,Yes,Undergraduate student
76,2022-11-21 09:30:56,2022-11-21 09:32:27,IP Address,66.218.63.102,100,91,True,2022-11-21 09:32:28,R_2wTDU28Zy9Z4buX,NaN,...,Panda Express,0,10,5,-99,18,On-campus,Female,No,Undergraduate student
78,2022-11-21 10:29:00,2022-11-21 10:30:15,IP Address,128.197.29.240,100,74,True,2022-11-21 10:30:15,R_2SigquejYkBbz8q,NaN,...,Panda Express,0,3,15,-99,19,On-campus,Female,No,Undergraduate student
80,2022-11-21 16:18:13,2022-11-21 16:21:27,IP Address,201.245.224.17,100,194,True,2022-11-21 16:21:27,R_RnxsqXRHlNqC1Xz,NaN,...,Panda Express,0,14,5,-99,19,On-campus,Female,Yes,Undergraduate student

In [43]:
cleanData.Q1.unique()

AttributeError: 'DataFrame' object has no attribute 'Q1'

In [40]:
import numpy as np

cleanData.Food_spending = Q1

Q1 = Q1.str.replace('$','')
Q1 = Q1.str.replace('Around','')
Q1 = Q1.str.replace(' ', '')

cleanData.Food_spending.unique()

/var/folders/9t/l79bhvd558sc7b67xwnk_ly00000gn/T/ipykernel_77351/4288994965.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Q1 = Q1.str.replace('$','')

array(['np.nan', '40', '20', '45', '30', '100', '200', '75', '80', '50',
       '70', '300', '10', '25', '0', '55', '60', '350'], dtype=object)

In [115]:
cleanData.Q1.unique()
cleanData.Q2.unique()
cleanData.Q4.unique()
cleanData.Q5.unique()
cleanData.Q6.unique()
cleanData.Q7.unique()
cleanData.Q9.unique()
cleanData.Q11.unique()
cleanData.Q12.unique()
cleanData.Q13.unique()
cleanData.Q14.unique()
cleanData.Q15.unique()
cleanData.Q16.unique()
cleanData.Q18.unique()

#we don't have Q3,Q10,Q17

array(['-99', 'Undergraduate student', 'Faculty'], dtype=object)

In [45]:
cleanData.Meals_Amount = Q11

Q11 = Q11.str.replace('9-11','10')

cleanData.Meals_Amount.unique()

array(['np.nan', '7', '14', '10', '24', '2', '5', '9', '8', '15', '3',
       '4', '13', '12', '1', '0'], dtype=object)

In [21]:
cleanData.replace('-99','NA')
cleanData.replace('NaN','NA')
cleanData.replace('NA','NA')

,Food_spending,Income,Allowance_month,Source of Income,Q5_7_TEXT,Work,DiningPlan,Q7_9_TEXT,Q8_1,Q8_2,...,Q10_19,Q10_20,Meals_Amount,Travel,Q12_7_TEXT,Age,Living,Gender,International,BU_Status
6,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
7,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
8,40,125K-150K,101-200,Savings,-99,Yes,250 Plan,-99,0,Lunch,...,0,0,7,0,-99,19,On-campus,Female,No,Undergraduate student
9,20,0-25K,0,Work,-99,Yes,330 Plan,-99,Breakfast,0,...,0,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
10,45,0-25K,1-50,Work,-99,Yes,330 Plan,-99,Breakfast,Lunch,...,0,0,10,5,-99,19,On-campus,Female,No,Undergraduate student
11,30,0-25K,0,Savings,-99,No,Unlimited Plan,-99,Breakfast,Lunch,...,Panda Express,0,24,15,-99,19,On-campus,Male,Yes,Undergraduate student
12,-99,100K-125K,101-200,Allowance,-99,Yes,Apartment Plan 500,-99,0,Lunch,...,0,0,2,15,-99,19,Off-campus,Male,No,Undergraduate student
13,100,>150K,201-300,Savings,-99,No,I don't have a dining plan,-99,0,Lunch,...,0,0,5,15,-99,19,Off-campus,Male,No,Undergraduate student
14,200,>150K,>500,Allowance,-99,No,I don't have a dining plan,-99,0,0,...,0,0,9,5,-99,21,Off-campus,Male,No,Undergraduate student
15,100,100K-125K,101-200,Savings,-99,Yes,I don't have a dining plan,-99,Breakfast,Lunch,...,0,0,8,30,-99,20,Off-campus,Male,No,Undergraduate student
16,-99,>150K,401-500,Allowance,-99,No,14+ Plan,-99,0,Lunch,...,0,0,15,5,-99,19,On-campus,Male,No,Undergraduate student
17,75,100K-125K,201-300,Allowance,-99,No,Unlimited Plan,-99,Breakfast,0,...,0,0,15,15,-99,18,On-campus,Male,No,Undergraduate student
18,40,0-25K,0,Savings,-99,No,I don't have a dining plan,-99,Breakfast,0,...,0,0,3,5,-99,21,Off-campus,Male,No,Undergraduate student
19,100,75K-100K,201-300,Allowance,-99,Yes,14+ Plan,-99,0,0,...,Panda Express,0,-99,15,-99,19,On-campus,Male,No,Undergraduate student
20,80,>150K,0,Savings,-99,No,250 Plan,-99,0,Lunch,...,0,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
21,50,>150K,>500,Allowance,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,4,5,-99,22,Off-campus,Male,No,Undergraduate student
22,70,>150K,0,Work,-99,Yes,250 Plan,-99,0,Lunch,...,Panda Express,0,13,15,-99,19,On-campus,Male,No,Undergraduate student
23,50,>150K,401-500,Allowance,-99,No,250 Plan,-99,0,Lunch,...,0,0,14,5,-99,19,On-campus,Male,Yes,Undergraduate student
24,100,>150K,1-50,Other,-99,No,14+ Plan,-99,0,Lunch,...,Panda Express,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
25,50,>150K,0,Savings,-99,Yes,250 Plan,-99,0,0,...,0,0,5,5,-99,20,On-campus,Female,No,Undergraduate student
28,50,50K-75K,>500,Work,-99,Yes,330 Plan,-99,0,Lunch,...,0,0,12,5,-99,19,On-campus,Male,Yes,Undergraduate student
29,20,100K-125K,101-200,Work,-99,Yes,Unlimited Plan,-99,0,Lunch,...,0,0,2,15,-99,19,On-campus,Male,No,Undergraduate student
30,-99,>150K,>500,Allowance,-99,No,14+ Plan,-99,0,Lunch,...,Panda Express,0,14,0,-99,19,On-campus,Male,Yes,Undergraduate student
32,20,>150K,>500,Savings,-99,No,I don't have a dining plan,-99,0,0,...,0,0,1,5,-99,21,Off-campus,Male,Yes,Undergraduate student
33,300,0-25K,>500,Allowance,-99,No,330 Plan,-99,0,Lunch,...,0,0,10,15,-99,19,On-campus,Male,Yes,Undergraduate student
34,10,0-25K,0,Financial aid,-99,Yes,330 Plan,-99,0,Lunch,...,Panda Express,0,2,5,-99,19,On-campus,Female,No,Undergraduate student
35,40,125K-150K,>500,Work,-99,Yes,Apartment Plan 500,-99,0,Lunch,...,0,0,2,15,-99,19,Off-campus,Female,Yes,Undergraduate student
36,40,>150K,301-400,Allowance,-99,No,I don't have a dining plan,-99,-99,-99,...,0,0,1,15,-99,19,Off-campus,Female,No,Undergraduate student
37,50,>150K,301-400,Work,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,3,5,-99,20,Off-campus,Female,No,Undergraduate student
38,25,>150K,>500,Allowance,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,3,15,-99,20,Off-campus,Female,No,Undergraduate student
41,-99,0-25K,0,Work,-99,Yes,330 Plan,-99,0,0,...,0,0,-99,30,-99,-99,Off-campus,Prefer not to answer,Yes,Undergraduate student
44,50,100K-125K,0,Savings,-99,No,330 Plan,-99,0,Lunch,...,0,0,14,15,-99,20,On-campus,Male,No,Undergraduate student
47,0,100K-125K,>500,Allowance,-99,No,I don't have a dining plan,-99,0,0,...,0,0,0,15,-99,23,Off-campus,Male,No,Undergraduate student
49,0,>150K,>500,Work,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,3,15,-99,32,Off-campus,Prefer not to answer,I'm not a student,Faculty
50,100,125K-150K,51-100,Work,-99,Yes,Apartment Plan 500,-99,Breakfast,Lunch,...,Panda Express,0,10,30,-99,19,Off-campus,Male,No,Undergraduate student
52,-99,>150K,>500,Allowance,-99,No,Apartment Plan 500,-99,0,Lunch,...,0,0,10,15,-99,-99,Off-campus,Female,No,Undergraduate student
53,100,100K-125K,0,Work,-99,Yes,14+ Plan,-99,Breakfast,0,...,0,0,14,5,-99,18,On-campus,Male,No,Undergraduate student
54,-99,100K-125K,201-300,Work,-99,No,Apartment Plan 500,-99,0,Lunch,...,0,0,-99,5,-99,-99,Off-campus,Non-Binary,I'm not a student,Undergraduate student
56,100,>150K,0,Work,-99,Yes,330 Plan,-99,0,0,...,0,0,5,15,-99,20,Off-campus,Female,No,Undergraduate student
59,55,0-25K,>500,Allowance,-99,No,I don't have a dining plan,-99,Breakfast,0,...,0,0,-99,5,-99,22,Off-campus,Male,Yes,Undergraduate student
60,20,>150K,0,Work,-99,Yes,14+ Plan,-99,Breakfast,Lunch,...,0,0,14,15,-99,-99,On-campus,Female,No,Undergraduate student
72,60,>150K,0,Work,-99,Yes,250 Plan,-99,Breakfast,Lunch,...,0,0,8,15,-99,19,On-campus,Female,No,Undergraduate student
74,350,>150K,>500,Allowance,-99,Yes,Unlimited Plan,-99,Breakfast,Lunch,...,0,0,14,5,-99,21,On-campus,Female,Yes,Undergraduate student
75,40,>150K,>500,Allowance,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,2,30,-99,18,Off-campus,Female,Yes,Undergraduate student
76,50,>150K,0,Other,My parents,Yes,250 Plan,-99,0,Lunch,...,Panda Express,0,10,5,-99,18,On-campus,Female,No,Undergraduate student
78,25,75K-100K,>500,Allowance,-99,No,250 Plan,-99,Breakfast,Lunch,...,Panda Express,0,3,15,-99,19,On-campus,Female,No,Undergraduate student
80,75,>150K,>500,Allowance,-99,No,250 Plan,-99,0,Lunch,...,Panda Express,0,14,5,-99,19,On-campus,Female,Yes,Undergraduate student

In [18]:
#cleanData = cleanData.drop(columns =['StartDate', 'EndDate', 'Status', 'IPAddress','Progress','Duration (in seconds)', 'Finished','RecordedDate', 'ResponseId', 'RecipientLastName','RecipientFirstName', 'RecipientEmail', 'ExternalReference','LocationLatitude', 'LocationLongitude','DistributionChannel', 'UserLanguage'], axis = 1)

In [19]:
cleanData = cleanData.rename(columns={'Q1':'Food_spending', 'Q2': 'Income', 'Q4':'Allowance_month', 'Q5': 'Source of Income', 'Q6': 'Work', 'Q7': 'DiningPlan', 'Q8': 'OnCampus_Meals', 'Q9': 'Mealbox', 'Q11': 'Meals_Amount', 'Q12': 'Travel', 'Q13':'Age', 'Q14':'Gender', 'Q15':'International', 'Q16': 'Living', 'Q18': 'BU_Status'})
cleanData

,Food_spending,Income,Allowance_month,Source of Income,Q5_7_TEXT,Work,DiningPlan,Q7_9_TEXT,Q8_1,Q8_2,...,Q10_19,Q10_20,Meals_Amount,Travel,Q12_7_TEXT,Age,Living,Gender,International,BU_Status
6,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
7,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
8,40,125K-150K,101-200,Savings,-99,Yes,250 Plan,-99,0,Lunch,...,0,0,7,0,-99,19,On-campus,Female,No,Undergraduate student
9,20,0-25K,0,Work,-99,Yes,330 Plan,-99,Breakfast,0,...,0,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
10,$45,0-25K,1-50,Work,-99,Yes,330 Plan,-99,Breakfast,Lunch,...,0,0,9-11,5,-99,19,On-campus,Female,No,Undergraduate student
11,30,0-25K,0,Savings,-99,No,Unlimited Plan,-99,Breakfast,Lunch,...,Panda Express,0,24,15,-99,19,On-campus,Male,Yes,Undergraduate student
12,-99,100K-125K,101-200,Allowance,-99,Yes,Apartment Plan 500,-99,0,Lunch,...,0,0,2,15,-99,19,Off-campus,Male,No,Undergraduate student
13,100,>150K,201-300,Savings,-99,No,I don't have a dining plan,-99,0,Lunch,...,0,0,5,15,-99,19,Off-campus,Male,No,Undergraduate student
14,200,>150K,>500,Allowance,-99,No,I don't have a dining plan,-99,0,0,...,0,0,9,5,-99,21,Off-campus,Male,No,Undergraduate student
15,100,100K-125K,101-200,Savings,-99,Yes,I don't have a dining plan,-99,Breakfast,Lunch,...,0,0,8,30,-99,20,Off-campus,Male,No,Undergraduate student
16,-99,>150K,401-500,Allowance,-99,No,14+ Plan,-99,0,Lunch,...,0,0,15,5,-99,19,On-campus,Male,No,Undergraduate student
17,$75,100K-125K,201-300,Allowance,-99,No,Unlimited Plan,-99,Breakfast,0,...,0,0,15,15,-99,18,On-campus,Male,No,Undergraduate student
18,40,0-25K,0,Savings,-99,No,I don't have a dining plan,-99,Breakfast,0,...,0,0,3,5,-99,21,Off-campus,Male,No,Undergraduate student
19,$100,75K-100K,201-300,Allowance,-99,Yes,14+ Plan,-99,0,0,...,Panda Express,0,-99,15,-99,19,On-campus,Male,No,Undergraduate student
20,80,>150K,0,Savings,-99,No,250 Plan,-99,0,Lunch,...,0,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
21,50,>150K,>500,Allowance,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,4,5,-99,22,Off-campus,Male,No,Undergraduate student
22,$70,>150K,0,Work,-99,Yes,250 Plan,-99,0,Lunch,...,Panda Express,0,13,15,-99,19,On-campus,Male,No,Undergraduate student
23,50,>150K,401-500,Allowance,-99,No,250 Plan,-99,0,Lunch,...,0,0,14,5,-99,19,On-campus,Male,Yes,Undergraduate student
24,100,>150K,1-50,Other,-99,No,14+ Plan,-99,0,Lunch,...,Panda Express,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
25,$50,>150K,0,Savings,-99,Yes,250 Plan,-99,0,0,...,0,0,5,5,-99,20,On-campus,Female,No,Undergraduate student
28,50,50K-75K,>500,Work,-99,Yes,330 Plan,-99,0,Lunch,...,0,0,12,5,-99,19,On-campus,Male,Yes,Undergraduate student
29,20,100K-125K,101-200,Work,-99,Yes,Unlimited Plan,-99,0,Lunch,...,0,0,2,15,-99,19,On-campus,Male,No,Undergraduate student
30,-99,>150K,>500,Allowance,-99,No,14+ Plan,-99,0,Lunch,...,Panda Express,0,14,0,-99,19,On-campus,Male,Yes,Undergraduate student
32,20,>150K,>500,Savings,-99,No,I don't have a dining plan,-99,0,0,...,0,0,1,5,-99,21,Off-campus,Male,Yes,Undergraduate student
33,300,0-25K,>500,Allowance,-99,No,330 Plan,-99,0,Lunch,...,0,0,10,15,-99,19,On-campus,Male,Yes,Undergraduate student
34,10,0-25K,0,Financial aid,-99,Yes,330 Plan,-99,0,Lunch,...,Panda Express,0,2,5,-99,19,On-campus,Female,No,Undergraduate student
35,40,125K-150K,>500,Work,-99,Yes,Apartment Plan 500,-99,0,Lunch,...,0,0,2,15,-99,19,Off-campus,Female,Yes,Undergraduate student
36,$40,>150K,301-400,Allowance,-99,No,I don't have a dining plan,-99,-99,-99,...,0,0,1,15,-99,19,Off-campus,Female,No,Undergraduate student
37,$50,>150K,301-400,Work,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,3,5,-99,20,Off-campus,Female,No,Undergraduate student
38,25,>150K,>500,Allowance,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,3,15,-99,20,Off-campus,Female,No,Undergraduate student
41,-99,0-25K,0,Work,-99,Yes,330 Plan,-99,0,0,...,0,0,-99,30,-99,-99,Off-campus,Prefer not to answer,Yes,Undergraduate student
44,$50,100K-125K,0,Savings,-99,No,330 Plan,-99,0,Lunch,...,0,0,14,15,-99,20,On-campus,Male,No,Undergraduate student
47,0,100K-125K,>500,Allowance,-99,No,I don't have a dining plan,-99,0,0,...,0,0,0,15,-99,23,Off-campus,Male,No,Undergraduate student
49,0,>150K,>500,Work,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,3,15,-99,32,Off-campus,Prefer not to answer,I'm not a student,Faculty
50,100,125K-150K,51-100,Work,-99,Yes,Apartment Plan 500,-99,Breakfast,Lunch,...,Panda Express,0,10,30,-99,19,Off-campus,Male,No,Undergraduate student
52,-99,>150K,>500,Allowance,-99,No,Apartment Plan 500,-99,0,Lunch,...,0,0,10,15,-99,-99,Off-campus,Female,No,Undergraduate student
53,$100,100K-125K,0,Work,-99,Yes,14+ Plan,-99,Breakfast,0,...,0,0,14,5,-99,18,On-campus,Male,No,Undergraduate student
54,-99,100K-125K,201-300,Work,-99,No,Apartment Plan 500,-99,0,Lunch,...,0,0,-99,5,-99,-99,Off-campus,Non-Binary,I'm not a student,Undergraduate student
56,100,>150K,0,Work,-99,Yes,330 Plan,-99,0,0,...,0,0,5,15,-99,20,Off-campus,Female,No,Undergraduate student
59,55,0-25K,>500,Allowance,-99,No,I don't have a dining plan,-99,Breakfast,0,...,0,0,-99,5,-99,22,Off-campus,Male,Yes,Undergraduate student
60,20,>150K,0,Work,-99,Yes,14+ Plan,-99,Breakfast,Lunch,...,0,0,14,15,-99,-99,On-campus,Female,No,Undergraduate student
72,60,>150K,0,Work,-99,Yes,250 Plan,-99,Breakfast,Lunch,...,0,0,8,15,-99,19,On-campus,Female,No,Undergraduate student
74,350,>150K,>500,Allowance,-99,Yes,Unlimited Plan,-99,Breakfast,Lunch,...,0,0,14,5,-99,21,On-campus,Female,Yes,Undergraduate student
75,40,>150K,>500,Allowance,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,2,30,-99,18,Off-campus,Female,Yes,Undergraduate student
76,Around 50,>150K,0,Other,My parents,Yes,250 Plan,-99,0,Lunch,...,Panda Express,0,10,5,-99,18,On-campus,Female,No,Undergraduate student
78,25,75K-100K,>500,Allowance,-99,No,250 Plan,-99,Breakfast,Lunch,...,Panda Express,0,3,15,-99,19,On-campus,Female,No,Undergraduate student
80,$75,>150K,>500,Allowance,-99,No,250 Plan,-99,0,Lunch,...,Panda Express,0,14,5,-99,19,On-campus,Female,Yes,Undergraduate student

In [22]:
cleanData.columns

Index(['Food_spending', 'Income', 'Allowance_month', 'Source of Income',
       'Q5_7_TEXT', 'Work', 'DiningPlan', 'Q7_9_TEXT', 'Q8_1', 'Q8_2', 'Q8_3',
       'Q8_4', 'Q8_5', 'Q8_5_TEXT', 'Mealbox', 'Q10_1', 'Q10_2', 'Q10_3',
       'Q10_4', 'Q10_5', 'Q10_6', 'Q10_7', 'Q10_8', 'Q10_9', 'Q10_10',
       'Q10_11', 'Q10_12', 'Q10_13', 'Q10_14', 'Q10_15', 'Q10_16', 'Q10_17',
       'Q10_18', 'Q10_19', 'Q10_20', 'Meals_Amount', 'Travel', 'Q12_7_TEXT',
       'Age', 'Living', 'Gender', 'International', 'BU_Status'],
      dtype='object')

In [20]:
cleanData = cleanData.rename(columns={'Q5_7_TEXT':'Other_Income', 'Q7_9_TEXT': 'Other_DiningPlan', 'Q8_5_TEXT':'Other_OnCampus_Meals', 'Q12_7_TEXT': 'Travel_Other'})

In [21]:
cleanData = cleanData.rename(columns={'Q8_1':'Breakfast', 'Q8_2':'Lunch', 'Q8_3':'Snack', 'Q8_4': 'Dinner', 'Q8_5': 'Other'})

In [22]:
cleanData = cleanData.rename(columns={'Q10_1':'Starbucks', 'Q10_2':'CityCo', 'Q10_3':'Dunkin', 'Q10_4': 'Breadwinners', 'Q10_5': 'Baystate Underground', 'Q10_6': 'Law School Cafe', 'Q10_7': 'Einstein Bros. Bagels', 'Q10_8': 'Subway', 'Q10_9': 'Basho', 'Q10_10':'Late Night Cafe Warren', 'Q10_11':'Raising Canes', 'Q10_12': 'Healthy Blends', 'Q10_13': 'Late Night Cafe West', 'Q10_14': 'Greens & Grains', 'Q10_15': 'CRB', 'Q10_16':'Open Kitchen', 'Q10_17':'Rhetts', 'Q10_18':'The Halal Guys', 'Q10_19':'Panda Express', 'Q10_20':'Late Night Kitchen Fenway'})
cleanData

,Food_spending,Income,Allowance_month,Source of Income,Other_Income,Work,DiningPlan,Other_DiningPlan,Breakfast,Lunch,...,Panda Express,Late Night Kitchen Fenway,Meals_Amount,Travel,Travel_Other,Age,Living,Gender,International,BU_Status
6,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
7,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
8,40,125K-150K,101-200,Savings,-99,Yes,250 Plan,-99,0,Lunch,...,0,0,7,0,-99,19,On-campus,Female,No,Undergraduate student
9,20,0-25K,0,Work,-99,Yes,330 Plan,-99,Breakfast,0,...,0,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
10,$45,0-25K,1-50,Work,-99,Yes,330 Plan,-99,Breakfast,Lunch,...,0,0,9-11,5,-99,19,On-campus,Female,No,Undergraduate student
11,30,0-25K,0,Savings,-99,No,Unlimited Plan,-99,Breakfast,Lunch,...,Panda Express,0,24,15,-99,19,On-campus,Male,Yes,Undergraduate student
12,-99,100K-125K,101-200,Allowance,-99,Yes,Apartment Plan 500,-99,0,Lunch,...,0,0,2,15,-99,19,Off-campus,Male,No,Undergraduate student
13,100,>150K,201-300,Savings,-99,No,I don't have a dining plan,-99,0,Lunch,...,0,0,5,15,-99,19,Off-campus,Male,No,Undergraduate student
14,200,>150K,>500,Allowance,-99,No,I don't have a dining plan,-99,0,0,...,0,0,9,5,-99,21,Off-campus,Male,No,Undergraduate student
15,100,100K-125K,101-200,Savings,-99,Yes,I don't have a dining plan,-99,Breakfast,Lunch,...,0,0,8,30,-99,20,Off-campus,Male,No,Undergraduate student
16,-99,>150K,401-500,Allowance,-99,No,14+ Plan,-99,0,Lunch,...,0,0,15,5,-99,19,On-campus,Male,No,Undergraduate student
17,$75,100K-125K,201-300,Allowance,-99,No,Unlimited Plan,-99,Breakfast,0,...,0,0,15,15,-99,18,On-campus,Male,No,Undergraduate student
18,40,0-25K,0,Savings,-99,No,I don't have a dining plan,-99,Breakfast,0,...,0,0,3,5,-99,21,Off-campus,Male,No,Undergraduate student
19,$100,75K-100K,201-300,Allowance,-99,Yes,14+ Plan,-99,0,0,...,Panda Express,0,-99,15,-99,19,On-campus,Male,No,Undergraduate student
20,80,>150K,0,Savings,-99,No,250 Plan,-99,0,Lunch,...,0,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
21,50,>150K,>500,Allowance,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,4,5,-99,22,Off-campus,Male,No,Undergraduate student
22,$70,>150K,0,Work,-99,Yes,250 Plan,-99,0,Lunch,...,Panda Express,0,13,15,-99,19,On-campus,Male,No,Undergraduate student
23,50,>150K,401-500,Allowance,-99,No,250 Plan,-99,0,Lunch,...,0,0,14,5,-99,19,On-campus,Male,Yes,Undergraduate student
24,100,>150K,1-50,Other,-99,No,14+ Plan,-99,0,Lunch,...,Panda Express,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
25,$50,>150K,0,Savings,-99,Yes,250 Plan,-99,0,0,...,0,0,5,5,-99,20,On-campus,Female,No,Undergraduate student
28,50,50K-75K,>500,Work,-99,Yes,330 Plan,-99,0,Lunch,...,0,0,12,5,-99,19,On-campus,Male,Yes,Undergraduate student
29,20,100K-125K,101-200,Work,-99,Yes,Unlimited Plan,-99,0,Lunch,...,0,0,2,15,-99,19,On-campus,Male,No,Undergraduate student
30,-99,>150K,>500,Allowance,-99,No,14+ Plan,-99,0,Lunch,...,Panda Express,0,14,0,-99,19,On-campus,Male,Yes,Undergraduate student
32,20,>150K,>500,Savings,-99,No,I don't have a dining plan,-99,0,0,...,0,0,1,5,-99,21,Off-campus,Male,Yes,Undergraduate student
33,300,0-25K,>500,Allowance,-99,No,330 Plan,-99,0,Lunch,...,0,0,10,15,-99,19,On-campus,Male,Yes,Undergraduate student
34,10,0-25K,0,Financial aid,-99,Yes,330 Plan,-99,0,Lunch,...,Panda Express,0,2,5,-99,19,On-campus,Female,No,Undergraduate student
35,40,125K-150K,>500,Work,-99,Yes,Apartment Plan 500,-99,0,Lunch,...,0,0,2,15,-99,19,Off-campus,Female,Yes,Undergraduate student
36,$40,>150K,301-400,Allowance,-99,No,I don't have a dining plan,-99,-99,-99,...,0,0,1,15,-99,19,Off-campus,Female,No,Undergraduate student
37,$50,>150K,301-400,Work,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,3,5,-99,20,Off-campus,Female,No,Undergraduate student
38,25,>150K,>500,Allowance,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,3,15,-99,20,Off-campus,Female,No,Undergraduate student
41,-99,0-25K,0,Work,-99,Yes,330 Plan,-99,0,0,...,0,0,-99,30,-99,-99,Off-campus,Prefer not to answer,Yes,Undergraduate student
44,$50,100K-125K,0,Savings,-99,No,330 Plan,-99,0,Lunch,...,0,0,14,15,-99,20,On-campus,Male,No,Undergraduate student
47,0,100K-125K,>500,Allowance,-99,No,I don't have a dining plan,-99,0,0,...,0,0,0,15,-99,23,Off-campus,Male,No,Undergraduate student
49,0,>150K,>500,Work,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,3,15,-99,32,Off-campus,Prefer not to answer,I'm not a student,Faculty
50,100,125K-150K,51-100,Work,-99,Yes,Apartment Plan 500,-99,Breakfast,Lunch,...,Panda Express,0,10,30,-99,19,Off-campus,Male,No,Undergraduate student
52,-99,>150K,>500,Allowance,-99,No,Apartment Plan 500,-99,0,Lunch,...,0,0,10,15,-99,-99,Off-campus,Female,No,Undergraduate student
53,$100,100K-125K,0,Work,-99,Yes,14+ Plan,-99,Breakfast,0,...,0,0,14,5,-99,18,On-campus,Male,No,Undergraduate student
54,-99,100K-125K,201-300,Work,-99,No,Apartment Plan 500,-99,0,Lunch,...,0,0,-99,5,-99,-99,Off-campus,Non-Binary,I'm not a student,Undergraduate student
56,100,>150K,0,Work,-99,Yes,330 Plan,-99,0,0,...,0,0,5,15,-99,20,Off-campus,Female,No,Undergraduate student
59,55,0-25K,>500,Allowance,-99,No,I don't have a dining plan,-99,Breakfast,0,...,0,0,-99,5,-99,22,Off-campus,Male,Yes,Undergraduate student
60,20,>150K,0,Work,-99,Yes,14+ Plan,-99,Breakfast,Lunch,...,0,0,14,15,-99,-99,On-campus,Female,No,Undergraduate student
72,60,>150K,0,Work,-99,Yes,250 Plan,-99,Breakfast,Lunch,...,0,0,8,15,-99,19,On-campus,Female,No,Undergraduate student
74,350,>150K,>500,Allowance,-99,Yes,Unlimited Plan,-99,Breakfast,Lunch,...,0,0,14,5,-99,21,On-campus,Female,Yes,Undergraduate student
75,40,>150K,>500,Allowance,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,2,30,-99,18,Off-campus,Female,Yes,Undergraduate student
76,Around 50,>150K,0,Other,My parents,Yes,250 Plan,-99,0,Lunch,...,Panda Express,0,10,5,-99,18,On-campus,Female,No,Undergraduate student
78,25,75K-100K,>500,Allowance,-99,No,250 Plan,-99,Breakfast,Lunch,...,Panda Express,0,3,15,-99,19,On-campus,Female,No,Undergraduate student
80,$75,>150K,>500,Allowance,-99,No,250 Plan,-99,0,Lunch,...,Panda Express,0,14,5,-99,19,On-campus,Female,Yes,Undergraduate student

In [23]:
cleanData = cleanData.replace('-99','np.nan')
cleanData = cleanData.replace('NaN', 'np.nan')

In [24]:
cleanData

,Food_spending,Income,Allowance_month,Source of Income,Other_Income,Work,DiningPlan,Other_DiningPlan,Breakfast,Lunch,...,Panda Express,Late Night Kitchen Fenway,Meals_Amount,Travel,Travel_Other,Age,Living,Gender,International,BU_Status
6,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,...,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan
7,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,...,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan
8,40,125K-150K,101-200,Savings,np.nan,Yes,250 Plan,np.nan,0,Lunch,...,0,0,7,0,np.nan,19,On-campus,Female,No,Undergraduate student
9,20,0-25K,0,Work,np.nan,Yes,330 Plan,np.nan,Breakfast,0,...,0,0,14,5,np.nan,19,On-campus,Male,No,Undergraduate student
10,$45,0-25K,1-50,Work,np.nan,Yes,330 Plan,np.nan,Breakfast,Lunch,...,0,0,9-11,5,np.nan,19,On-campus,Female,No,Undergraduate student
11,30,0-25K,0,Savings,np.nan,No,Unlimited Plan,np.nan,Breakfast,Lunch,...,Panda Express,0,24,15,np.nan,19,On-campus,Male,Yes,Undergraduate student
12,np.nan,100K-125K,101-200,Allowance,np.nan,Yes,Apartment Plan 500,np.nan,0,Lunch,...,0,0,2,15,np.nan,19,Off-campus,Male,No,Undergraduate student
13,100,>150K,201-300,Savings,np.nan,No,I don't have a dining plan,np.nan,0,Lunch,...,0,0,5,15,np.nan,19,Off-campus,Male,No,Undergraduate student
14,200,>150K,>500,Allowance,np.nan,No,I don't have a dining plan,np.nan,0,0,...,0,0,9,5,np.nan,21,Off-campus,Male,No,Undergraduate student
15,100,100K-125K,101-200,Savings,np.nan,Yes,I don't have a dining plan,np.nan,Breakfast,Lunch,...,0,0,8,30,np.nan,20,Off-campus,Male,No,Undergraduate student
16,np.nan,>150K,401-500,Allowance,np.nan,No,14+ Plan,np.nan,0,Lunch,...,0,0,15,5,np.nan,19,On-campus,Male,No,Undergraduate student
17,$75,100K-125K,201-300,Allowance,np.nan,No,Unlimited Plan,np.nan,Breakfast,0,...,0,0,15,15,np.nan,18,On-campus,Male,No,Undergraduate student
18,40,0-25K,0,Savings,np.nan,No,I don't have a dining plan,np.nan,Breakfast,0,...,0,0,3,5,np.nan,21,Off-campus,Male,No,Undergraduate student
19,$100,75K-100K,201-300,Allowance,np.nan,Yes,14+ Plan,np.nan,0,0,...,Panda Express,0,np.nan,15,np.nan,19,On-campus,Male,No,Undergraduate student
20,80,>150K,0,Savings,np.nan,No,250 Plan,np.nan,0,Lunch,...,0,0,14,5,np.nan,19,On-campus,Male,No,Undergraduate student
21,50,>150K,>500,Allowance,np.nan,Yes,I don't have a dining plan,np.nan,0,Lunch,...,0,0,4,5,np.nan,22,Off-campus,Male,No,Undergraduate student
22,$70,>150K,0,Work,np.nan,Yes,250 Plan,np.nan,0,Lunch,...,Panda Express,0,13,15,np.nan,19,On-campus,Male,No,Undergraduate student
23,50,>150K,401-500,Allowance,np.nan,No,250 Plan,np.nan,0,Lunch,...,0,0,14,5,np.nan,19,On-campus,Male,Yes,Undergraduate student
24,100,>150K,1-50,Other,np.nan,No,14+ Plan,np.nan,0,Lunch,...,Panda Express,0,14,5,np.nan,19,On-campus,Male,No,Undergraduate student
25,$50,>150K,0,Savings,np.nan,Yes,250 Plan,np.nan,0,0,...,0,0,5,5,np.nan,20,On-campus,Female,No,Undergraduate student
28,50,50K-75K,>500,Work,np.nan,Yes,330 Plan,np.nan,0,Lunch,...,0,0,12,5,np.nan,19,On-campus,Male,Yes,Undergraduate student
29,20,100K-125K,101-200,Work,np.nan,Yes,Unlimited Plan,np.nan,0,Lunch,...,0,0,2,15,np.nan,19,On-campus,Male,No,Undergraduate student
30,np.nan,>150K,>500,Allowance,np.nan,No,14+ Plan,np.nan,0,Lunch,...,Panda Express,0,14,0,np.nan,19,On-campus,Male,Yes,Undergraduate student
32,20,>150K,>500,Savings,np.nan,No,I don't have a dining plan,np.nan,0,0,...,0,0,1,5,np.nan,21,Off-campus,Male,Yes,Undergraduate student
33,300,0-25K,>500,Allowance,np.nan,No,330 Plan,np.nan,0,Lunch,...,0,0,10,15,np.nan,19,On-campus,Male,Yes,Undergraduate student
34,10,0-25K,0,Financial aid,np.nan,Yes,330 Plan,np.nan,0,Lunch,...,Panda Express,0,2,5,np.nan,19,On-campus,Female,No,Undergraduate student
35,40,125K-150K,>500,Work,np.nan,Yes,Apartment Plan 500,np.nan,0,Lunch,...,0,0,2,15,np.nan,19,Off-campus,Female,Yes,Undergraduate student
36,$40,>150K,301-400,Allowance,np.nan,No,I don't have a dining plan,np.nan,np.nan,np.nan,...,0,0,1,15,np.nan,19,Off-campus,Female,No,Undergraduate student
37,$50,>150K,301-400,Work,np.nan,Yes,I don't have a dining plan,np.nan,0,Lunch,...,0,0,3,5,np.nan,20,Off-campus,Female,No,Undergraduate student
38,25,>150K,>500,Allowance,np.nan,Yes,I don't have a dining plan,np.nan,0,Lunch,...,0,0,3,15,np.nan,20,Off-campus,Female,No,Undergraduate student
41,np.nan,0-25K,0,Work,np.nan,Yes,330 Plan,np.nan,0,0,...,0,0,np.nan,30,np.nan,np.nan,Off-campus,Prefer not to answer,Yes,Undergraduate student
44,$50,100K-125K,0,Savings,np.nan,No,330 Plan,np.nan,0,Lunch,...,0,0,14,15,np.nan,20,On-campus,Male,No,Undergraduate student
47,0,100K-125K,>500,Allowance,np.nan,No,I don't have a dining plan,np.nan,0,0,...,0,0,0,15,np.nan,23,Off-campus,Male,No,Undergraduate student
49,0,>150K,>500,Work,np.nan,Yes,I don't have a dining plan,np.nan,0,Lunch,...,0,0,3,15,np.nan,32,Off-campus,Prefer not to answer,I'm not a student,Faculty
50,100,125K-150K,51-100,Work,np.nan,Yes,Apartment Plan 500,np.nan,Breakfast,Lunch,...,Panda Express,0,10,30,np.nan,19,Off-campus,Male,No,Undergraduate student
52,np.nan,>150K,>500,Allowance,np.nan,No,Apartment Plan 500,np.nan,0,Lunch,...,0,0,10,15,np.nan,np.nan,Off-campus,Female,No,Undergraduate student
53,$100,100K-125K,0,Work,np.nan,Yes,14+ Plan,np.nan,Breakfast,0,...,0,0,14,5,np.nan,18,On-campus,Male,No,Undergraduate student
54,np.nan,100K-125K,201-300,Work,np.nan,No,Apartment Plan 500,np.nan,0,Lunch,...,0,0,np.nan,5,np.nan,np.nan,Off-campus,Non-Binary,I'm not a student,Undergraduate student
56,100,>150K,0,Work,np.nan,Yes,330 Plan,np.nan,0,0,...,0,0,5,15,np.nan,20,Off-campus,Female,No,Undergraduate student
59,55,0-25K,>500,Allowance,np.nan,No,I don't have a dining plan,np.nan,Breakfast,0,...,0,0,np.nan,5,np.nan,22,Off-campus,Male,Yes,Undergraduate student
60,20,>150K,0,Work,np.nan,Yes,14+ Plan,np.nan,Breakfast,Lunch,...,0,0,14,15,np.nan,np.nan,On-campus,Female,No,Undergraduate student
72,60,>150K,0,Work,np.nan,Yes,250 Plan,np.nan,Breakfast,Lunch,...,0,0,8,15,np.nan,19,On-campus,Female,No,Undergraduate student
74,350,>150K,>500,Allowance,np.nan,Yes,Unlimited Plan,np.nan,Breakfast,Lunch,...,0,0,14,5,np.nan,21,On-campus,Female,Yes,Undergraduate student
75,40,>150K,>500,Allowance,np.nan,Yes,I don't have a dining plan,np.nan,0,Lunch,...,0,0,2,30,np.nan,18,Off-campus,Female,Yes,Undergraduate student
76,Around 50,>150K,0,Other,My parents,Yes,250 Plan,np.nan,0,Lunch,...,Panda Express,0,10,5,np.nan,18,On-campus,Female,No,Undergraduate student
78,25,75K-100K,>500,Allowance,np.nan,No,250 Plan,np.nan,Breakfast,Lunch,...,Panda Express,0,3,15,np.nan,19,On-campus,Female,No,Undergraduate student
80,$75,>150K,>500,Allowance,np.nan,No,250 Plan,np.nan,0,Lunch,...,Panda Express,0,14,5,np.nan,19,On-campus,Female,Yes,Undergraduate student

In [36]:
#dummies for income
income = cleanData.Income

income = income.str.replace('0-25K','0')
income = income.str.replace('np.nan','1')
income = income.str.replace('50K-75K', '2')
income = income.str.replace('75K-100K', '3')
income = income.str.replace('100K-125K', '4')
income = income.str.replace('125K-150K', '5')
income = income.str.replace('>150K', '6')

cleanData.Income.unique()

/var/folders/9t/l79bhvd558sc7b67xwnk_ly00000gn/T/ipykernel_77351/3691138996.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  income = income.str.replace('np.nan','1')

array(['1', '5', '0', '4', '6', '3', '2'], dtype=object)

In [37]:
cleanData.Income.unique()

array(['1', '5', '0', '4', '6', '3', '2'], dtype=object)

In [49]:
exportPath = '/Users/nicolelubaczewska/Downloads/ba222Project_CleanData_campusSpending_11.27.2022.csv'

cleanData.to_csv(exportPath)

In [46]:
cleanData

,Food_spending,Income,Allowance_month,Source of Income,Other_Income,Work,DiningPlan,Other_DiningPlan,Breakfast,Lunch,...,Panda Express,Late Night Kitchen Fenway,Meals_Amount,Travel,Travel_Other,Age,Living,Gender,International,BU_Status
6,np.nan,1,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,...,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan
7,np.nan,1,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,...,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan
8,40,5,101-200,Savings,np.nan,Yes,250 Plan,np.nan,0,Lunch,...,0,0,7,0,np.nan,19,On-campus,Female,No,Undergraduate student
9,20,0,0,Work,np.nan,Yes,330 Plan,np.nan,Breakfast,0,...,0,0,14,5,np.nan,19,On-campus,Male,No,Undergraduate student
10,45,0,1-50,Work,np.nan,Yes,330 Plan,np.nan,Breakfast,Lunch,...,0,0,10,5,np.nan,19,On-campus,Female,No,Undergraduate student
11,30,0,0,Savings,np.nan,No,Unlimited Plan,np.nan,Breakfast,Lunch,...,Panda Express,0,24,15,np.nan,19,On-campus,Male,Yes,Undergraduate student
12,np.nan,4,101-200,Allowance,np.nan,Yes,Apartment Plan 500,np.nan,0,Lunch,...,0,0,2,15,np.nan,19,Off-campus,Male,No,Undergraduate student
13,100,6,201-300,Savings,np.nan,No,I don't have a dining plan,np.nan,0,Lunch,...,0,0,5,15,np.nan,19,Off-campus,Male,No,Undergraduate student
14,200,6,>500,Allowance,np.nan,No,I don't have a dining plan,np.nan,0,0,...,0,0,9,5,np.nan,21,Off-campus,Male,No,Undergraduate student
15,100,4,101-200,Savings,np.nan,Yes,I don't have a dining plan,np.nan,Breakfast,Lunch,...,0,0,8,30,np.nan,20,Off-campus,Male,No,Undergraduate student
16,np.nan,6,401-500,Allowance,np.nan,No,14+ Plan,np.nan,0,Lunch,...,0,0,15,5,np.nan,19,On-campus,Male,No,Undergraduate student
17,75,4,201-300,Allowance,np.nan,No,Unlimited Plan,np.nan,Breakfast,0,...,0,0,15,15,np.nan,18,On-campus,Male,No,Undergraduate student
18,40,0,0,Savings,np.nan,No,I don't have a dining plan,np.nan,Breakfast,0,...,0,0,3,5,np.nan,21,Off-campus,Male,No,Undergraduate student
19,100,3,201-300,Allowance,np.nan,Yes,14+ Plan,np.nan,0,0,...,Panda Express,0,np.nan,15,np.nan,19,On-campus,Male,No,Undergraduate student
20,80,6,0,Savings,np.nan,No,250 Plan,np.nan,0,Lunch,...,0,0,14,5,np.nan,19,On-campus,Male,No,Undergraduate student
21,50,6,>500,Allowance,np.nan,Yes,I don't have a dining plan,np.nan,0,Lunch,...,0,0,4,5,np.nan,22,Off-campus,Male,No,Undergraduate student
22,70,6,0,Work,np.nan,Yes,250 Plan,np.nan,0,Lunch,...,Panda Express,0,13,15,np.nan,19,On-campus,Male,No,Undergraduate student
23,50,6,401-500,Allowance,np.nan,No,250 Plan,np.nan,0,Lunch,...,0,0,14,5,np.nan,19,On-campus,Male,Yes,Undergraduate student
24,100,6,1-50,Other,np.nan,No,14+ Plan,np.nan,0,Lunch,...,Panda Express,0,14,5,np.nan,19,On-campus,Male,No,Undergraduate student
25,50,6,0,Savings,np.nan,Yes,250 Plan,np.nan,0,0,...,0,0,5,5,np.nan,20,On-campus,Female,No,Undergraduate student
28,50,2,>500,Work,np.nan,Yes,330 Plan,np.nan,0,Lunch,...,0,0,12,5,np.nan,19,On-campus,Male,Yes,Undergraduate student
29,20,4,101-200,Work,np.nan,Yes,Unlimited Plan,np.nan,0,Lunch,...,0,0,2,15,np.nan,19,On-campus,Male,No,Undergraduate student
30,np.nan,6,>500,Allowance,np.nan,No,14+ Plan,np.nan,0,Lunch,...,Panda Express,0,14,0,np.nan,19,On-campus,Male,Yes,Undergraduate student
32,20,6,>500,Savings,np.nan,No,I don't have a dining plan,np.nan,0,0,...,0,0,1,5,np.nan,21,Off-campus,Male,Yes,Undergraduate student
33,300,0,>500,Allowance,np.nan,No,330 Plan,np.nan,0,Lunch,...,0,0,10,15,np.nan,19,On-campus,Male,Yes,Undergraduate student
34,10,0,0,Financial aid,np.nan,Yes,330 Plan,np.nan,0,Lunch,...,Panda Express,0,2,5,np.nan,19,On-campus,Female,No,Undergraduate student
35,40,5,>500,Work,np.nan,Yes,Apartment Plan 500,np.nan,0,Lunch,...,0,0,2,15,np.nan,19,Off-campus,Female,Yes,Undergraduate student
36,40,6,301-400,Allowance,np.nan,No,I don't have a dining plan,np.nan,np.nan,np.nan,...,0,0,1,15,np.nan,19,Off-campus,Female,No,Undergraduate student
37,50,6,301-400,Work,np.nan,Yes,I don't have a dining plan,np.nan,0,Lunch,...,0,0,3,5,np.nan,20,Off-campus,Female,No,Undergraduate student
38,25,6,>500,Allowance,np.nan,Yes,I don't have a dining plan,np.nan,0,Lunch,...,0,0,3,15,np.nan,20,Off-campus,Female,No,Undergraduate student
41,np.nan,0,0,Work,np.nan,Yes,330 Plan,np.nan,0,0,...,0,0,np.nan,30,np.nan,np.nan,Off-campus,Prefer not to answer,Yes,Undergraduate student
44,50,4,0,Savings,np.nan,No,330 Plan,np.nan,0,Lunch,...,0,0,14,15,np.nan,20,On-campus,Male,No,Undergraduate student
47,0,4,>500,Allowance,np.nan,No,I don't have a dining plan,np.nan,0,0,...,0,0,0,15,np.nan,23,Off-campus,Male,No,Undergraduate student
49,0,6,>500,Work,np.nan,Yes,I don't have a dining plan,np.nan,0,Lunch,...,0,0,3,15,np.nan,32,Off-campus,Prefer not to answer,I'm not a student,Faculty
50,100,5,51-100,Work,np.nan,Yes,Apartment Plan 500,np.nan,Breakfast,Lunch,...,Panda Express,0,10,30,np.nan,19,Off-campus,Male,No,Undergraduate student
52,np.nan,6,>500,Allowance,np.nan,No,Apartment Plan 500,np.nan,0,Lunch,...,0,0,10,15,np.nan,np.nan,Off-campus,Female,No,Undergraduate student
53,100,4,0,Work,np.nan,Yes,14+ Plan,np.nan,Breakfast,0,...,0,0,14,5,np.nan,18,On-campus,Male,No,Undergraduate student
54,np.nan,4,201-300,Work,np.nan,No,Apartment Plan 500,np.nan,0,Lunch,...,0,0,np.nan,5,np.nan,np.nan,Off-campus,Non-Binary,I'm not a student,Undergraduate student
56,100,6,0,Work,np.nan,Yes,330 Plan,np.nan,0,0,...,0,0,5,15,np.nan,20,Off-campus,Female,No,Undergraduate student
59,55,0,>500,Allowance,np.nan,No,I don't have a dining plan,np.nan,Breakfast,0,...,0,0,np.nan,5,np.nan,22,Off-campus,Male,Yes,Undergraduate student
60,20,6,0,Work,np.nan,Yes,14+ Plan,np.nan,Breakfast,Lunch,...,0,0,14,15,np.nan,np.nan,On-campus,Female,No,Undergraduate student
72,60,6,0,Work,np.nan,Yes,250 Plan,np.nan,Breakfast,Lunch,...,0,0,8,15,np.nan,19,On-campus,Female,No,Undergraduate student
74,350,6,>500,Allowance,np.nan,Yes,Unlimited Plan,np.nan,Breakfast,Lunch,...,0,0,14,5,np.nan,21,On-campus,Female,Yes,Undergraduate student
75,40,6,>500,Allowance,np.nan,Yes,I don't have a dining plan,np.nan,0,Lunch,...,0,0,2,30,np.nan,18,Off-campus,Female,Yes,Undergraduate student
76,50,6,0,Other,My parents,Yes,250 Plan,np.nan,0,Lunch,...,Panda Express,0,10,5,np.nan,18,On-campus,Female,No,Undergraduate student
78,25,3,>500,Allowance,np.nan,No,250 Plan,np.nan,Breakfast,Lunch,...,Panda Express,0,3,15,np.nan,19,On-campus,Female,No,Undergraduate student
80,75,6,>500,Allowance,np.nan,No,250 Plan,np.nan,0,Lunch,...,Panda Express,0,14,5,np.nan,19,On-campus,Female,Yes,Undergraduate student