In [1]:
  # Course : BA222
  # Title  : In-Class Assigment 02
  # Author : Nicole Lubaczewska
  # Date   : 05/10
  # Description: My solutions to ICA02, see ICA02.pdf file for
  #              detailed instructions.

In [2]:
# Cell 2.A
# This cell should produce the output:
# 'Hello World!'

print('Hello World!')

Hello World!

In [3]:
# This cell should produce the output:
# '2bornot2b'

'2' + 'bornot' + '2' + 'b'

'2bornot2b'

In [8]:
# Cell 2.C
# This cell should save the name and last name
# of an invidiual and then produce the output
# 'name lastName' replacing name with the
# name in memory and lastName with the last
# name in memory

name = 'Neil'
lastName = 'Alper'

print(name + ' ' + lastName)

Neil Alper

In [33]:
# Cell 2.D
# This cell should compute the area
# of a rectangle

w = 5 
h = 3
area = w * h

area

15

In [16]:
 # Cell 2.E
  # This cell should compute the total cost
  # using fixed cost and marginal cost as
  # inputs and units produced as a decision
  # variable. The total cost is the sum of
  # variable and fixed cost. The variable
  # cost is the units produced times the
  # marginal cost.
  # INPUTS

mc = 10
fc = 10000

# DECISION VARIABLE

q = 20

# INTERMEDIATE CALCULATIONS

vc = mc * q

# OBJECTIVE
tc = vc + fc

tc

10200

In [17]:
# Cell 3.A
  # This cell should save the
  # base and height of a triangle and
  # calculate the area.
    
b = 4
h = 3
area = (b * h)/2

area

6.0

In [25]:
 # Cell 3.B
# This cell should save two different
# adjectives and two different animal
# names.
# Then it should combine the first
# adjective with the first animal name
# and the second adjective with the
# second animal name.
# Finally it should print the message
# 'Welcome to the adjective1 + animal1 and adjective2 + animal2 tavern'!

animal1 = 'lion'
animal2 = 'dolphin'

adjective1 = 'big'
adjective2 = 'small'

print('Welcome to the',adjective1, animal1, 'and', adjective2, animal2, 'tavern!')

Welcome to the big lion and small dolphin tavern!

In [29]:
# Cell 3.C
# This cell should take a name and the age
# of an individual in years. And return the
# following message:
# 'Hi name! it seems that you are age years old.'
# and on a separate line, if the individual is
# not older than 18 years old:
# 'Permission to access content: False'
# If the individual is older than 18,
# the message should read:
# 'Permission to access content: True'

age = 7
name = 'Max'

if age > 18:
    print ('Hi', name,'!', 'It seems that you are', age, 'years old.')
    print ('Permission to access content: True')
else:
    print ('Hi', name, '!', 'it seems that you are', age, 'years old.')
    print ('Permission to access content: False')

Hi Max ! it seems that you are 7 years old.
Permission to access content: False

In [35]:
# Cell 3.D
# Use the math package to answer this question.
# Let n be the total number of elements in a set and
# k the number of selected objects from the set.
# This cell should compute all the possible combinations
# of taking k elements from the set n.
# Hint1: Figure out the formula for combinations
# Hint2: Figure out if there is a formula for factorials in the #

import math

n = 5
k = 2

# COMBINATIONS: FORMULA  n! / (k! (n - k)!)
combinations = math.factorial(n) / (math.factorial(k) * math.factorial(n - k))
combinations

10.0